<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="homeHeading">About Us</h1>
            <hr>
            <p>Cascade Kidney Specialist is a physician owned kidney medicine (nephrology) practice with offices in
                Bellevue and Kirkland. Physician and Staff are dedicated to the highest quality practice coupled with
                the caring and compassion required by patients with chronic disease. It is a small practice where all
                care is provided by doctor.
            </p>
            <a href="#providers" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>